.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: linear-gradient(to bottom, #202020, #111);
    -fx-padding: 20;
}

/* ALL BUTTONS */
.button {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #555;
}

.button:pressed {
    -fx-background-color: #222;
}

/* LABELS */
.label {
    -fx-text-fill: white;
    -fx-font-size: 19px;
}

/* TITLE LABELS */
.title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
}